In [99]:
import pandas as pd
import numpy as np
import plotly.express as px
import os
import matplotlib.pyplot as plt
from numpy import int8

src = 'finalCCRSdata/'

In [100]:
file_list = os.listdir(src)

# get a list of prefixes
# prefix_list = list(set([file.split('_')[0] for file in file_list if '_' in file and file.endswith('.csv')]))
prefix_list = ['Inventory_']


# make a dictionary of dataframes
for prefix in prefix_list:
    prefix_files = [file for file in file_list if file.startswith(
        prefix) and file.endswith('.csv')]
    df_list = [pd.read_csv(os.path.join(src, file)) for file in prefix_files]
    df_concat = pd.concat(
        df_list, keys=[(prefix, file) for file in prefix_files], ignore_index=True)

/tmp/ipykernel_95393/531864649.py:12: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = [pd.read_csv(os.path.join(src, file)) for file in prefix_files]
/tmp/ipykernel_95393/531864649.py:12: DtypeWarning: Columns (14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = [pd.read_csv(os.path.join(src, file)) for file in prefix_files]
/tmp/ipykernel_95393/531864649.py:12: DtypeWarning: Columns (8,9,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = [pd.read_csv(os.path.join(src, file)) for file in prefix_files]
/tmp/ipykernel_95393/531864649.py:12: DtypeWarning: Columns (14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = [pd.read_csv(os.path.join(src, file)) for file in prefix_files]
/tmp/ipykernel_95393/531864649.py:12: DtypeWarning: Columns (14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = [pd.read_csv(os.path.join(src, file)) for file in prefix_files]
/tmp/ipykernel_95393/531864649.py:12: DtypeWarning: Columns (8,9,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = [pd.read_csv(os.path.join(src, file)) for file in prefix_files]
/tmp/ipykernel_95393/531864649.py:12: DtypeWarning: Columns (8,9,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = [pd.read_csv(os.path.join(src, file)) for file in prefix_files]
/tmp/ipykernel_95393/531864649.py:12: DtypeWarning: Columns (8,9,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = [pd.read_csv(os.path.join(src, file)) for file in prefix_files]

In [101]:
df_concat.columns

Index(['LicenseeId', 'InventoryId', 'StrainId', 'AreaId', 'ProductId',
       'InventoryIdentifier', 'InitialQuantity', 'QuantityOnHand', 'TotalCost',
       'IsMedical', 'ExternalIdentifier', 'IsDeleted', 'CreatedBy',
       'CreatedDate', 'UpdatedBy', 'updatedDate'],
      dtype='object')

In [102]:
df_concat = df_concat[['LicenseeId', 'InventoryId', 'StrainId', 'AreaId', 'ProductId',
                       'InventoryIdentifier', 'InitialQuantity', 'QuantityOnHand', 'TotalCost',
                       'IsMedical', 'ExternalIdentifier', 'IsDeleted',
                       # 'CreatedBy',
                       'CreatedDate',
                       #'UpdatedBy', 'updatedDate'
                       ]]
#del df_list
#del file_list
#del df_concat

In [103]:
df_concat

,LicenseeId,InventoryId,StrainId,AreaId,ProductId,InventoryIdentifier,InitialQuantity,QuantityOnHand,TotalCost,IsMedical,ExternalIdentifier,IsDeleted,CreatedDate
0,632,5919080,766,217057,1561645.0,NaN,2.0,0.0,0.0,False,18880768945134203,False,2022-03-14 23:57:00
1,632,5919081,69005,217057,1562042.0,NaN,1.0,0.0,0.0,False,18880768945234463,False,2022-03-14 23:57:00
2,632,5919082,766,217057,1561646.0,NaN,3.0,0.0,0.0,False,18880768945234649,False,2022-03-14 23:57:00
3,632,5919083,983,217057,4074813.0,NaN,5.0,0.0,0.0,False,18880768946035025,False,2022-03-14 23:57:00
4,632,5919084,283041,217057,4074825.0,NaN,5.0,0.0,0.0,False,18880768946635274,False,2022-03-14 23:57:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15774752,2309,13454511,54261,110123,2487550.0,NaN,0.0,0.0,.00,False,WAJ413462.IN7XO62,False,2022-10-05 00:00:00
15774753,2309,13454512,54261,110123,2487550.0,NaN,0.0,0.0,.00,False,WAJ413462.IN85QTM,False,2022-10-05 00:00:00
15774754,2309,13454513,54261,110123,2487550.0,NaN,0.0,0.0,.00,False,WAJ413462.IN8JSV4,False,2022-10-05 00:00:00
15774755,2309,13454514,1715,110123,2487550.0,NaN,0.0,0.0,.00,False,WAJ413462.IN8TTE6,False,2022-10-05 00:00:00
15774756,2309,13454515,1715,110123,2487550.0,NaN,0.0,0.0,.00,False,WAJ413462.IN8Z88H,False,2022-10-05 00:00:00

In [104]:
df_concat.isna().sum()

LicenseeId                    0
InventoryId                   0
StrainId                      0
AreaId                        0
ProductId                     7
InventoryIdentifier    15774750
InitialQuantity               0
QuantityOnHand                0
TotalCost                     0
IsMedical                     1
ExternalIdentifier            4
IsDeleted                     0
CreatedDate                   0
dtype: int64

In [105]:
df_concat.loc[df_concat['ProductId'].isna()]

,LicenseeId,InventoryId,StrainId,AreaId,ProductId,InventoryIdentifier,InitialQuantity,QuantityOnHand,TotalCost,IsMedical,ExternalIdentifier,IsDeleted,CreatedDate
6550229,2142,13348883262832,110094,2158121,NaN,0.0,0.0,0.00,False,NaN,WAJ425514.IN7PD6F,False,2022-10-05 00:00:00
10276680,1996,1331652088502,110093,2149836,NaN,0.0,0.0,0.00,False,IN571I7,NaN,False,2022-10-05 00:00:00
12151899,43,155816517452,1052,6374,NaN,20.0,20.0,9.99,False,I67020102161385,WAJ412072.IN13CDEL,False,2021-12-22 00:00:00
12152169,43,155843512597,1052,4550,NaN,15.0,15.0,3.33,False,I67020102161395,WAJ412072.IN13CD7E,False,2021-12-22 00:00:00
12152219,43,155848566258,1052,3120188,NaN,15.0,15.0,3.33,False,I67020102161381,WAJ412072.IN13CDEI,False,2021-12-22 00:00:00
15757619,2309,134793551715,110123,2484867,NaN,0.0,0.0,0.00,False,WAJ412597.INANKTL,NaN,False,2022-10-05 00:00:00
15761599,2309,13467453350,110123,2490874,NaN,0.0,0.0,0.00,False,WAM413478.IN5Y49S,NaN,False,2022-10-05 00:00:00

In [106]:
df_concat = df_concat.dropna(subset=['ProductId'])

In [107]:
df_concat.loc[df_concat.duplicated(
    subset=['InventoryId'])]

# not sure what to do for the duplicates in this table, it appears that there is no primary key in this table. may need to modify the relationships in postgres

,LicenseeId,InventoryId,StrainId,AreaId,ProductId,InventoryIdentifier,InitialQuantity,QuantityOnHand,TotalCost,IsMedical,ExternalIdentifier,IsDeleted,CreatedDate
1997068,632,7108555,803,96546,3429969.0,NaN,22290.0,0.0,0.0,False,18881069719674555,False,2022-04-18 19:26:00
1997069,632,7108556,1183,96546,3429970.0,NaN,2250.0,0.0,0.0,False,18881069719674691,False,2022-04-18 19:26:00
1997070,632,7108557,69005,96546,1561984.0,NaN,22340.0,0.0,0.0,False,18881069745177237,False,2022-04-18 19:30:00
1997071,632,7108558,766,96546,1561985.0,NaN,6100.0,0.0,0.0,False,18881069745177397,False,2022-04-18 19:30:00
1997072,632,7108559,983,96546,1561978.0,NaN,18160.0,0.0,0.0,False,18881069757878014,False,2022-04-18 19:32:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15774752,2309,13454511,54261,110123,2487550.0,NaN,0.0,0.0,.00,False,WAJ413462.IN7XO62,False,2022-10-05 00:00:00
15774753,2309,13454512,54261,110123,2487550.0,NaN,0.0,0.0,.00,False,WAJ413462.IN85QTM,False,2022-10-05 00:00:00
15774754,2309,13454513,54261,110123,2487550.0,NaN,0.0,0.0,.00,False,WAJ413462.IN8JSV4,False,2022-10-05 00:00:00
15774755,2309,13454514,1715,110123,2487550.0,NaN,0.0,0.0,.00,False,WAJ413462.IN8TTE6,False,2022-10-05 00:00:00
15774756,2309,13454515,1715,110123,2487550.0,NaN,0.0,0.0,.00,False,WAJ413462.IN8Z88H,False,2022-10-05 00:00:00

In [108]:
df_concat.dtypes

LicenseeId               int64
InventoryId              int64
StrainId                 int64
AreaId                   int64
ProductId              float64
InventoryIdentifier    float64
InitialQuantity        float64
QuantityOnHand         float64
TotalCost               object
IsMedical               object
ExternalIdentifier      object
IsDeleted                 bool
CreatedDate             object
dtype: object

In [109]:

# Create a boolean mask to identify the rows with non-float values
mask = pd.to_numeric(df_concat['TotalCost'], errors='coerce').isna()
# Create a new DataFrame with the rows that cannot be converted to float
error_df = df_concat[mask]

In [110]:
error_df

Empty DataFrame
Columns: [LicenseeId, InventoryId, StrainId, AreaId, ProductId, InventoryIdentifier, InitialQuantity, QuantityOnHand, TotalCost, IsMedical, ExternalIdentifier, IsDeleted, CreatedDate]
Index: []

In [113]:
df_concat = df_concat.astype({
    'LicenseeId':              int8,
    'InventoryId':             int,
    'StrainId':                int,
    'AreaId':                  int,
    'ProductId':             int,
    'InventoryIdentifier':   int,
    'InitialQuantity':       float,
    'QuantityOnHand':        float,
    'TotalCost':              float,
    'IsMedical':              bool,
    'ExternalIdentifier':     str,
    'IsDeleted':                bool,
    'CreatedDate':            object,
}, errors='ignore')
df_concat['CreatedDate'] = pd.to_datetime(df_concat['CreatedDate'])

In [114]:
df_concat.to_parquet('inventory.parquet', index=False)