In [14]:
import pandas as pd
import numpy as np
import plotly.express as px
import os
import matplotlib.pyplot as plt
from numpy import int8, int16

src = '../finalCCRSdata/'

In [4]:
file_list = os.listdir(src)

# get a list of prefixes
# prefix_list = list(set([file.split('_')[0] for file in file_list if '_' in file and file.endswith('.csv')]))
prefix_list = ['Licensee']


# make a dictionary of dataframes
for prefix in prefix_list:
    prefix_files = [file for file in file_list if file.startswith(
        prefix) and file.endswith('.csv')]
    df_list = [pd.read_csv(os.path.join(src, file)) for file in prefix_files]
    df_concat = pd.concat(
        df_list, keys=[(prefix, file) for file in prefix_files], ignore_index=True)

In [5]:
df_concat.columns

Index(['LicenseStatus', 'LicenseeId', 'UBI', 'LicenseNumber', 'Name', 'DBA',
       'LicenseIssueDate', 'LicenseExpirationDate', 'ExternalIdentifier',
       'IsDeleted', 'Address1', 'Address2', 'City', 'State', 'ZipCode',
       'County', 'EmailAddress', 'PhoneNumber', 'CreatedBy', 'CreatedDate',
       'UpdatedBy', 'UpdatedDate'],
      dtype='object')

In [6]:
df_concat = df_concat[['LicenseeId', 'LicenseStatus', 'UBI', 'LicenseNumber', 'Name', 'DBA',
                       'LicenseIssueDate', 'LicenseExpirationDate', 'ExternalIdentifier',
                       'IsDeleted', 'Address1', 'Address2', 'City', 'State', 'ZipCode',
                       'County', 'EmailAddress', 'PhoneNumber', 
                       #'CreatedBy', 
                       'CreatedDate'
                       #'UpdatedBy', 'updatedDate'
                       ]]
#del df_list
#del file_list
#del df_concat

In [7]:
df_concat

,LicenseStatus,LicenseeId,UBI,LicenseNumber,Name,DBA,LicenseIssueDate,LicenseExpirationDate,ExternalIdentifier,IsDeleted,Address1,Address2,City,State,ZipCode,County,EmailAddress,PhoneNumber,CreatedDate
0,Active,2959,602996606,433417,WILLAPA BAY ENTERPRISES,TOKELAND CANNABIS-SHOALWATER BAY TRIBE,2022-04-18,2023-06-30,NaN,False,4108 WA 105,NaN,TOKELAND,WA,985900000,PACIFIC,rsevigny@tokelandcannabis.com,NaN,2022-04-19 04:48:12.350000000
1,Active,2908,603178980,6607551758,True Northwest Inc,True Northwest Inc,NaN,NaN,NaN,False,4139 Libby Rd. NE,NaN,Olympia,WA,98506,NaN,Jamie@tnwlab.com,360-352-8688,2021-12-06 09:09:37.547000000
2,Active,2911,603273920,1285878302,Testing Technologies,Testing Technologies,NaN,NaN,NaN,False,19834 Viking Ave. NW,Suite B,Poulsbo,WA,98370,NaN,info@testing-technologies.net,360-930-0083,2021-12-06 09:09:37.547000000
3,Active,2915,603302909,6406356371,Pacific Botanical Laboratories,Pacific Botanical Laboratories,NaN,NaN,NaN,False,3927 Aurora Avenue North,NaN,Seattle,WA,98103,NaN,drothwein@pacificbotanicallabs.com,206-566-3526,2021-12-06 09:09:37.547000000
4,Active,10,603324019,7939083039,Confidence Analytics,Confidence Analytics,NaN,NaN,NaN,False,14797 NE 95th St,NaN,Redmond,WA,98052,NaN,info@conflabs.com,206-743-8843,2021-12-02 08:32:56.237000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2950,Active,2954,9000001820000000,432438,COOPERATIVE,COOPERATIVE182,2022-03-23,2022-08-31,NaN,False,COOPERATIVE,COOPERATIVE,COOPERATIVE,--,COOP,COOPERATIVE,COOPERATIVE,COOPERATIVE,2022-03-24 04:47:19.113000000
2951,Active,2892,9000001830000000,432614,COOPERATIVE,COOPERATIVE183,2021-11-09,2022-11-30,NaN,False,COOPERATIVE,COOPERATIVE,COOPERATIVE,--,COOP,COOPERATIVE,COOPERATIVE,COOPERATIVE,2021-12-06 09:09:34.420000000
2952,Active,2987,9000001840000000,432929,COOPERATIVE,COOPERATIVE184,2022-06-24,2022-12-31,NaN,False,COOPERATIVE,COOPERATIVE,COOPERATIVE,--,COOP,COOPERATIVE,COOPERATIVE,COOPERATIVE,2022-06-25 04:45:45.363000000
2953,Active,3007,9000001870000000,433731,COOPERATIVE,COOPERATIVE187,2022-09-13,2023-07-31,NaN,False,COOPERATIVE,COOPERATIVE,COOPERATIVE,--,COOP,COOPERATIVE,COOPERATIVE,COOPERATIVE,2022-09-14 04:45:24.150000000
2954,Active,3036,9000001880000000,433490,COOPERATIVE,COOPERATIVE188,2022-11-09,2023-08-31,NaN,False,COOPERATIVE,COOPERATIVE,COOPERATIVE,--,COOP,COOPERATIVE,COOPERATIVE,COOPERATIVE,2022-11-10 04:45:27.717000000

In [8]:
df_concat.isna().sum()

LicenseStatus               0
LicenseeId                  0
UBI                         0
LicenseNumber               0
Name                        0
DBA                         0
LicenseIssueDate           11
LicenseExpirationDate      11
ExternalIdentifier       2955
IsDeleted                   0
Address1                    0
Address2                 2467
City                        0
State                       0
ZipCode                     0
County                     13
EmailAddress               51
PhoneNumber              2896
CreatedDate                 0
dtype: int64

In [11]:
df_concat.loc[df_concat.duplicated()]

# not sure what to do for the duplicates in this table, it appears that there is no primary key in this table. may need to modify the relationships in postgres

Empty DataFrame
Columns: [LicenseStatus, LicenseeId, UBI, LicenseNumber, Name, DBA, LicenseIssueDate, LicenseExpirationDate, ExternalIdentifier, IsDeleted, Address1, Address2, City, State, ZipCode, County, EmailAddress, PhoneNumber, CreatedDate]
Index: []

In [12]:
df_concat.dtypes

LicenseStatus             object
LicenseeId                 int64
UBI                        int64
LicenseNumber              int64
Name                      object
DBA                       object
LicenseIssueDate          object
LicenseExpirationDate     object
ExternalIdentifier       float64
IsDeleted                   bool
Address1                  object
Address2                  object
City                      object
State                     object
ZipCode                   object
County                    object
EmailAddress              object
PhoneNumber               object
CreatedDate               object
dtype: object

In [15]:


df_concat = df_concat.astype({
    'LicenseStatus' :             object,
    'LicenseeId' :                 int8,
    'UBI' :                        int16,
    'LicenseNumber' :              int,
    'Name' :                      str,
    'DBA' :                       str,
    'LicenseIssueDate' :          object,
    'LicenseExpirationDate' :     object,
    'ExternalIdentifier' :       str,
    'IsDeleted' :                   bool,
    'Address1' :                  str,
    'Address2' :                  str,
    'City' :                      str,
    'State' :                     str,
    'ZipCode' :                   str,
    'County' :                    str,
    'EmailAddress' :              str,
    'PhoneNumber' :               str,
    'CreatedDate' :               object,
}, errors='ignore')
df_concat['CreatedDate'] = pd.to_datetime(df_concat['CreatedDate'])
df_concat['LicenseIssueDate'] = pd.to_datetime(df_concat['LicenseIssueDate'])
df_concat['LicenseExpirationDate'] = pd.to_datetime(df_concat['LicenseExpirationDate'])

In [16]:
df_concat.dtypes

LicenseStatus                    object
LicenseeId                         int8
UBI                               int16
LicenseNumber                     int64
Name                             object
DBA                              object
LicenseIssueDate         datetime64[ns]
LicenseExpirationDate    datetime64[ns]
ExternalIdentifier               object
IsDeleted                          bool
Address1                         object
Address2                         object
City                             object
State                            object
ZipCode                          object
County                           object
EmailAddress                     object
PhoneNumber                      object
CreatedDate              datetime64[ns]
dtype: object

In [17]:
df_concat.to_parquet('licensees.parquet', index=False)